<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/style.css' /> 
	<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="angularjs/calc.js"></script>
    
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
  </head>
  
  
   
  <body ng-app="calc" ng-controller="calc" class="container" ng-init="load();">
   
    <div class="container" style="border: 1px solid">
      
      <h1>Welcome to DNA sequence analyzer</h1><br><br><br>
    <div class="row">
      <div class="col-lg-3"></div>
       <div class="col-lg-6">

     <input id="seq" ng-model="seq" placeholder="Enter DNA sequence" required> <br><br><br>
    <input type="submit" value="analyze!" ng-click="calculate();"><br><br><br>
    <h1>Output : </h1>
      {{result}}
    <h1>History</h1>
     <table class="table table-hover">
    <tr ng-repeat="x in history">
                        
                        
                        <td class="col-sm-1 col-md-1" style="text-align: center">{{x.seq}}</td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{x.result}}</strong></td>
                        
    </tr>
     <table class="table table-hover">
   </div>

   <div class="col-lg-3"></div>
    
    
  </body>
</html>
